# Data Science Tools and Ecosystem

In this notebook, Data Sciente Tools and Ecosystem are sumarized.

Some of the popular languages that Data Scientist use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientist include:
1. Panda
2. Numpy
3. Matplotlib

Some of the tools used in Data Science are:

|Data Science Tools|
|:----------------:|
|MySQL|
|Node-RED|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## **Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools used for Data Science
* Practice syntax of Jupyter Notebooks

## Author
Juan Carlos Gonz√°lez